/* This code is for table customization */
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

img {
    width: 50px;
    height: auto;
}

/* Pagination CSS starts from here */
.product-list-container {
    max-width: 800px;
    margin: 0 auto;
}

.modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.modal-dialog-scrollable {
    max-height: calc(100vh - 40px);
    overflow-y: auto;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.modal-content p {
    margin: 5px 0;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.page-item {
    margin: 0 5px;
}

.page-item button {
    border: none;
    background: none;
    cursor: pointer;
    color: #007bff;
}

.page-item.active button {
    font-weight: bold;
}

.page-item button:focus {
    outline: none;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  